body {
    display: flex;
    justify-content: center;
    margin: 0;
  }
.Navbar{
display: flex;
padding-top: 15px;
padding-bottom: 15px;
align-items: center;
width: 100vw;
position: relative;
background: #3D9970;
color: white;
z-index: 999;
  }
 .Navbar>img{
left: 10px;
position: relative;
 }
 .Navbar>.search-box{
    right: 10px;
    position: absolute;
 }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
  }
  
  table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .search{
    border-radius: 2rem;
    border: 1px solid #777;
    width: 300px;
  }
  th {
    background-color: #f2f2f2;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }