body {
    display: flex;
    justify-content: center;
    margin: 0;
  }
.Navbar{
display: flex;
padding-top: 15px;
padding-bottom: 15px;
align-items: center;
width: 100vw;
position: relative;
background: #3D9970;
color: white;
z-index: 999;
  }
 .Navbar>img{
left: 10px;
position: relative;
 }
.table-container{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
   .table-container{
    overflow-x: scroll;
    justify-content: flex-start;
    width: 100vw;
   }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 gap: 20px;
  }
  
  table {
   width: 95%;
    border-collapse: collapse;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .search{
    border-radius: 2rem;
    border: 1px solid #777;
    width: 300px;
  }
  th {
    background-color: #f2f2f2;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }